## Importing the libraries/packages

In [ ]:
# libraries
import numpy as np #used for handling numbers
import pandas as pd #used for handling the dataset

from sklearn.impute import SimpleImputer #used for handling missing data
from sklearn.compose import ColumnTransformer #encode categorical data to discrete values
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #used for encoding categorical data
from sklearn.model_selection import train_test_split #used for splitting training and testing data
from sklearn.preprocessing import StandardScaler #used for feature scaling

## Setting the environment

In [ ]:
# Mounting google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Setting toolkit folder as working directory

%cd /content/drive/My Drive/Dataset siswa
! ls

/content/drive/My Drive/Dataset siswa
'Data Bersih1.xlsx'  'Data Bersih4.xlsx'  'Data Bersih.xlsx'
'Data Bersih2.xlsx'  'Data Bersih5.xlsx'  'Data siswa1.xlsx'
'Data Bersih3.xlsx'  'Data Bersih6.xlsx'  'Data siswa.xlsx'

## Import the dataset into a variable

In [ ]:
dataset = pd.read_excel("/content/drive/My Drive/Dataset siswa/Data siswa.xlsx")

In [ ]:
dataset.head()

,Nama,Jenis Kelamin,Jenis Tinggal,Alat Transportasi,Jenis Pendidikan Ayah,Pekerjaan Ayah,Penghasilan Ayah,Jenis Pendidikan Ibu,Pekerjaan Ibu,Penghasilan Ibu,Nilai Tugas,Nilai Ulangan,Nilai UTS,Nilai Rapor
0,Abigail Wijaya,P,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",NaN,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,Abraham Jedidiah Michael sompie,L,Bersama orang tua,Sepeda motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,Abraham Jedidiah Michael sompie,L,Bersama orang tua,Sepeda motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,Addison,L,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,Addison,L,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0

## Splitting the attributes into independent and dependent attributes

In [ ]:
X = dataset.iloc[:, :-1].values #attribute to determine independent variable/class
Y = dataset.iloc[:, -1].values #dependent variable/class

## Handling the missing data and replace missing values with nan from numpy

In [ ]:
dataset.isnull().sum()

Nama                     0
Jenis Kelamin            0
Jenis Tinggal            1
Alat Transportasi        0
Jenis Pendidikan Ayah    7
Pekerjaan Ayah           0
Penghasilan Ayah         0
Jenis Pendidikan Ibu     6
Pekerjaan Ibu            0
Penghasilan Ibu          0
Nilai Tugas              0
Nilai Ulangan            1
Nilai UTS                1
Nilai Rapor              1
dtype: int64

In [ ]:
dataset.isnull().sum().sum()

17

In [ ]:
df = dataset.fillna(value = 0)
df

,Nama,Jenis Kelamin,Jenis Tinggal,Alat Transportasi,Jenis Pendidikan Ayah,Pekerjaan Ayah,Penghasilan Ayah,Jenis Pendidikan Ibu,Pekerjaan Ibu,Penghasilan Ibu,Nilai Tugas,Nilai Ulangan,Nilai UTS,Nilai Rapor
0,Abigail Wijaya,P,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,Abraham Jedidiah Michael sompie,L,Bersama orang tua,Sepeda motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,Abraham Jedidiah Michael sompie,L,Bersama orang tua,Sepeda motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,Addison,L,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,Addison,L,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,Yurike Virgiria Septriviani,P,Asrama,Jalan kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,Yurike Virgiria Septriviani,P,Asrama,Jalan kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,Yurike Virgiria Septriviani,P,Asrama,Jalan kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,ZEFANYA KUSHY ANRISKA,P,Bersama orang tua,Lainnya,D3,Lainnya,"Rp. 1,000,000 - Rp. 1,999,999",SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,Ziw Cahya Kerenhapukh,P,Bersama orang tua,Sepeda motor,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
df.isnull().sum().sum()

0

####Rename Column

In [ ]:
df.dtypes

Nama                      object
Jenis Kelamin             object
Jenis Tinggal             object
Alat Transportasi         object
Jenis Pendidikan Ayah     object
Pekerjaan Ayah            object
Penghasilan Ayah          object
Jenis Pendidikan Ibu      object
Pekerjaan Ibu             object
Penghasilan Ibu           object
Nilai Tugas              float64
Nilai Ulangan            float64
Nilai UTS                float64
Nilai Rapor              float64
dtype: object

In [ ]:
df2 = df.rename(
    columns = {
        'Jenis Kelamin':'JenisKelamin',
        'Jenis Tinggal':'JenisTinggal',
        'Alat Transportasi':'AlatTransportasi',
        'Jenis Pendidikan Ayah':'JenjangPendidikanAyah',
        'Pekerjaan Ayah':'PekerjaanAyah',
        'Penghasilan Ayah':'PenghasilanAyah',
        'Jenis Pendidikan Ibu':'JenjangPendidikanIbu',
        'Pekerjaan Ibu':'PekerjaanIbu',
        'Penghasilan Ibu':'PenghasilanIbu',
        'Mata Pelajaran':'MataPelajaran',
        'Nilai Tugas':'NilaiTugas',
        'Nilai Ulangan':'NilaiUlangan',
        'Nilai UTS':'NilaiUTS',
        'Nilai Rapor':'NilaiRapor'
        }
)

In [ ]:
df2.head()

,Nama,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,Abigail Wijaya,P,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,Abraham Jedidiah Michael sompie,L,Bersama orang tua,Sepeda motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,Abraham Jedidiah Michael sompie,L,Bersama orang tua,Sepeda motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,Addison,L,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,Addison,L,Bersama orang tua,Sepeda motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0

Reducing the number of unique values in some columns

In [ ]:
# total number of rows on dataframe
len(df2.index)

1248

Jenis Kelamin

In [ ]:
df2.JenisKelamin.value_counts()

P    692
L    556
Name: JenisKelamin, dtype: int64

Jenis Tinggal

In [ ]:
df2.JenisTinggal.value_counts()

Bersama orang tua    1051
Asrama                148
Wali                   42
Kost                    3
Lainnya                 3
0                       1
Name: JenisTinggal, dtype: int64

AlatTransportasi

In [ ]:
df2.AlatTransportasi.value_counts()

Sepeda motor                   749
Jalan kaki                     242
Kendaraan pribadi               94
Sepeda Motor                    56
Lainnya                         50
Sepeda                          18
Angkutan umum/bus/pete-pete     15
Mobil pribadi                    9
Mobil/bus antar jemput           6
Jalan Kaki                       6
Ojek                             3
Name: AlatTransportasi, dtype: int64

In [ ]:
# Handling Data for column AlatTransportasi
df2.loc[df2.AlatTransportasi.str.contains('Sepeda motor', na=False), 'AlatTransportasi'] = 'Sepeda Motor'
df2.loc[df2.AlatTransportasi.str.contains('Jalan kaki', na=False), 'AlatTransportasi'] = 'Jalan Kaki'
df2.AlatTransportasi.value_counts()

Sepeda Motor                   805
Jalan Kaki                     248
Kendaraan pribadi               94
Lainnya                         50
Sepeda                          18
Angkutan umum/bus/pete-pete     15
Mobil pribadi                    9
Mobil/bus antar jemput           6
Ojek                             3
Name: AlatTransportasi, dtype: int64

JenjangPendidikanAyah

In [ ]:
df2.JenjangPendidikanAyah.value_counts()

SMA / sederajat    600
SMP / sederajat    223
SD / sederajat     205
S1                 136
D3                  31
S2                  18
Putus SD            14
Tidak sekolah        7
0                    7
D4                   4
Profesi              2
D1                   1
Name: JenjangPendidikanAyah, dtype: int64

PekerjaanAyah

In [ ]:
df2.PekerjaanAyah.value_counts()

Wiraswasta                774
Karyawan Swasta           100
PNS/TNI/Polri              99
Sudah Meninggal            69
Petani                     45
Wirausaha                  30
Lainnya                    28
Pedagang Kecil             26
Pedagang Besar             21
Tidak bekerja              18
Pensiunan                  13
Buruh                      11
Tenaga Kerja Indonesia      6
Nelayan                     5
Pedagang kecil              2
Peternak                    1
Name: PekerjaanAyah, dtype: int64

In [ ]:
df2.loc[df2.PekerjaanAyah.str.contains('Pedagang kecil', na=False), 'PekerjaanAyah'] = 'Pedagang Kecil'
df2.PekerjaanAyah.value_counts()

Wiraswasta                774
Karyawan Swasta           100
PNS/TNI/Polri              99
Sudah Meninggal            69
Petani                     45
Wirausaha                  30
Lainnya                    28
Pedagang Kecil             28
Pedagang Besar             21
Tidak bekerja              18
Pensiunan                  13
Buruh                      11
Tenaga Kerja Indonesia      6
Nelayan                     5
Peternak                    1
Name: PekerjaanAyah, dtype: int64

PenghasilanAyah

In [ ]:
df2.PenghasilanAyah.value_counts()

Rp. 2,000,000 - Rp. 4,999,999     787
Rp. 1,000,000 - Rp. 1,999,999     233
Tidak Berpenghasilan               89
Rp. 5,000,000 - Rp. 20,000,000     67
Rp. 500,000 - Rp. 999,999          50
Kurang dari Rp. 500,000            13
Lebih dari Rp. 20,000,000           4
Rp. 2,000,000 - Rp. 4,999,1000      2
Rp. 500,00 - Rp. 999,999            2
Kurang dari Rp. 500,001             1
Name: PenghasilanAyah, dtype: int64

In [ ]:
# Handling Data for column PenghasilanAyah
df2.loc[df2.PenghasilanAyah.str.contains('Rp. 2,000,000 - Rp. 4,999,1000', na=False), 'PenghasilanAyah'] = 'Rp. 2,000,000 - Rp. 4,999,999'
df2.loc[df2.PenghasilanAyah.str.contains('Rp. 500,00 - Rp. 999,999', na=False), 'PenghasilanAyah'] = 'Rp. 500,000 - Rp. 999,999'
df2.loc[df2.PenghasilanAyah.str.contains('Kurang dari Rp. 500,001', na=False), 'PenghasilanAyah'] = 'Kurang dari Rp. 500,000'
df2.PenghasilanAyah.value_counts()

Rp. 2,000,000 - Rp. 4,999,999     789
Rp. 1,000,000 - Rp. 1,999,999     233
Tidak Berpenghasilan               89
Rp. 5,000,000 - Rp. 20,000,000     67
Rp. 500,000 - Rp. 999,999          52
Kurang dari Rp. 500,000            14
Lebih dari Rp. 20,000,000           4
Name: PenghasilanAyah, dtype: int64

JenjangPendidikanIbu

In [ ]:
df2.JenjangPendidikanIbu.value_counts()

SMA / sederajat    590
SMP / sederajat    283
SD / sederajat     201
S1                  81
D3                  48
Tidak sekolah       14
D2                   7
D1                   7
0                    6
Putus SD             4
S2                   3
D4                   2
Profesi              2
Name: JenjangPendidikanIbu, dtype: int64

PekerjaanIbu

In [ ]:
df2.PekerjaanIbu.value_counts()

Tidak bekerja             552
Lainnya                   379
Wiraswasta                122
PNS/TNI/Polri              90
Karyawan Swasta            59
Petani                     12
Wirausaha                  12
Pedagang Kecil              9
Sudah Meninggal             7
Pedagang Besar              3
Tidak dapat diterapkan      2
Tenaga Kerja Indonesia      1
Name: PekerjaanIbu, dtype: int64

PenghasilanIbu

In [ ]:
df2.PenghasilanIbu.value_counts()

Tidak Berpenghasilan              902
Rp. 2,000,000 - Rp. 4,999,999     209
Rp. 1,000,000 - Rp. 1,999,999      86
Rp. 500,000 - Rp. 999,999          25
Kurang dari Rp. 500,000            13
Rp. 5,000,000 - Rp. 20,000,000      9
Rp. 1,000.000 - 1,999,999           2
Lebih dari Rp. 20,000,000           2
Name: PenghasilanIbu, dtype: int64

In [ ]:
# Handling Data for column PenghasilanIbu
df2.loc[df2.PenghasilanIbu.str.contains('Rp. 1,000.000 - 1,999,999', na=False), 'PenghasilanIbu'] = 'Rp. 1,000,000 - Rp. 1,999,999'
df2.PenghasilanIbu.value_counts()

Tidak Berpenghasilan              902
Rp. 2,000,000 - Rp. 4,999,999     209
Rp. 1,000,000 - Rp. 1,999,999      88
Rp. 500,000 - Rp. 999,999          25
Kurang dari Rp. 500,000            13
Rp. 5,000,000 - Rp. 20,000,000      9
Lebih dari Rp. 20,000,000           2
Name: PenghasilanIbu, dtype: int64

### Convert Categorical to Numerical Data

Drop Label 'Nama'

In [ ]:
df2 = df2.drop(labels='Nama', axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   JenisKelamin           1248 non-null   object
 1   JenisTinggal           1248 non-null   object
 2   AlatTransportasi       1248 non-null   object
 3   JenjangPendidikanAyah  1248 non-null   object
 4   PekerjaanAyah          1248 non-null   object
 5   PenghasilanAyah        1248 non-null   object
 6   JenjangPendidikanIbu   1248 non-null   object
 7   PekerjaanIbu           1248 non-null   object
 8   PenghasilanIbu         1248 non-null   object
 9   NilaiTugas             1248 non-null   float64
 10  NilaiUlangan           1248 non-null   float64
 11  NilaiUTS               1248 non-null   float64
 12  NilaiRapor             1248 non-null   float64
dtypes: float64(4), object(9)
memory usage: 126.9+ KB

In [ ]:
df2.head()

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,P,Bersama orang tua,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,L,Bersama orang tua,Sepeda Motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,L,Bersama orang tua,Sepeda Motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,L,Bersama orang tua,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,L,Bersama orang tua,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0

Expert Cleaned Data to Google Drive

In [ ]:
dataMapping={
            "L":0,
            "P":1,
}

In [ ]:
df2['JenisKelamin']=df2['JenisKelamin'].map(dataMapping)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,Bersama orang tua,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,Bersama orang tua,Sepeda Motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,Bersama orang tua,Sepeda Motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,Bersama orang tua,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,Bersama orang tua,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,Asrama,Jalan Kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,Asrama,Jalan Kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,Asrama,Jalan Kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,Bersama orang tua,Lainnya,D3,Lainnya,"Rp. 1,000,000 - Rp. 1,999,999",SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,Bersama orang tua,Sepeda Motor,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping2={
            "Bersama orang tua": 0,
            "Wali": 1,
            "Asrama": 2,
            "Kost": 3,
            "Lainnya": 4,
            0: 5,
            }

In [ ]:
df2['JenisTinggal']=df2['JenisTinggal'].map(dataMapping2)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,Sepeda Motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,Sepeda Motor,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,Sepeda Motor,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,Jalan Kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,Jalan Kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,Jalan Kaki,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,Lainnya,D3,Lainnya,"Rp. 1,000,000 - Rp. 1,999,999",SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,Sepeda Motor,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping3={
            "Mobil pribadi": 0,
            "Sepeda Motor": 1,
            "Sepeda": 2,
            "Kendaraan pribadi": 3,
            "Jalan Kaki": 4,
            "Angkutan umum/bus/pete-pete": 5,
            "Mobil/bus antar jemput": 6,
            "Ojek": 7,
            "Lainnya":8,
            }

In [ ]:
df2['AlatTransportasi']=df2['AlatTransportasi'].map(dataMapping3)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,SMA / sederajat,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,1,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,1,S2,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,1,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,1,SMA / sederajat,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,4,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,4,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,8,D3,Lainnya,"Rp. 1,000,000 - Rp. 1,999,999",SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,1,S1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping4={
            "S2": 0,
            "S1": 1,
            "D4": 2,
            "D3": 3,
            "D1": 4,
            "Profesi": 5,
            "SMA / sederajat": 6,
            "SMP / sederajat": 7,
            "SD / sederajat": 8,
            "Putus SD": 9,
            "Tidak sekolah": 10,
            0: 12,
}

In [ ]:
df2['JenjangPendidikanAyah']=df2['JenjangPendidikanAyah'].map(dataMapping4)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,6,Wiraswasta,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,1,0,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,1,0,Karyawan Swasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,1,6,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,1,6,Wiraswasta,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,4,1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,4,1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,8,3,Lainnya,"Rp. 1,000,000 - Rp. 1,999,999",SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,1,1,Karyawan Swasta,"Rp. 2,000,000 - Rp. 4,999,999",D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping5={
            "Wirausaha": 0,
            "Wiraswasta": 1,
            "Karyawan Swasta": 2,
            "Pedagang Besar": 3,
            "Pedagang Kecil": 4,
            "PNS/TNI/Polri": 5,
            "Petani": 6,
            "Peternak": 7,
            "Nelayan": 8,
            "Buruh": 9,
            "Tenaga Kerja Indonesia": 10,
            "Pensiunan": 11,
            "Tidak bekerja": 12,
            "Sudah Meninggal": 13,
            "Lainnya": 14,
}

In [ ]:
df2['PekerjaanAyah']=df2['PekerjaanAyah'].map(dataMapping5)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,6,1,"Rp. 1,000,000 - Rp. 1,999,999",0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,1,0,2,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,1,0,2,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,1,6,1,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,1,6,1,"Rp. 5,000,000 - Rp. 20,000,000",SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,1,2,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,4,1,2,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,4,1,2,"Rp. 2,000,000 - Rp. 4,999,999",S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,8,3,14,"Rp. 1,000,000 - Rp. 1,999,999",SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,1,1,2,"Rp. 2,000,000 - Rp. 4,999,999",D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping6={
            "Lebih dari Rp. 20,000,000": 0,
            "Rp. 5,000,000 - Rp. 20,000,000": 1,
            "Rp. 2,000,000 - Rp. 4,999,999": 2,
            "Rp. 1,000,000 - Rp. 1,999,999": 3,
            "Rp. 500,000 - Rp. 999,999": 4,
            "Kurang dari Rp. 500,000": 5,
            "Tidak Berpenghasilan": 6,
}

In [ ]:
df2['PenghasilanAyah']=df2['PenghasilanAyah'].map(dataMapping6)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,6,1,3,0,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,1,0,2,1,SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,1,0,2,1,SMA / sederajat,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,1,6,1,1,SMA / sederajat,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,1,6,1,1,SMA / sederajat,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,1,2,2,S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,4,1,2,2,S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,4,1,2,2,S1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,8,3,14,3,SMA / sederajat,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,1,1,2,2,D3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping7={
            "S2": 0,
            "S1": 1,
            "D4": 2,
            "D3": 3,
            "D1": 4,
            "Profesi": 5,
            "SMA / sederajat": 6,
            "SMP / sederajat": 7,
            "SD / sederajat": 8,
            "Putus SD": 9,
            "Tidak sekolah": 10,
            "D2": 11,
            0: 12,
}

In [ ]:
df2['JenjangPendidikanIbu']=df2['JenjangPendidikanIbu'].map(dataMapping7)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,6,1,3,12,Lainnya,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,1,0,2,1,6,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,1,0,2,1,6,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,1,6,1,1,6,Lainnya,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,1,6,1,1,6,Lainnya,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,1,2,2,1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,4,1,2,2,1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,4,1,2,2,1,PNS/TNI/Polri,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,8,3,14,3,6,Tidak bekerja,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,1,1,2,2,3,Tidak bekerja,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping8={
            "Wirausaha": 0,
            "Wiraswasta": 1,
            "Karyawan Swasta": 2,
            "Pedagang Besar": 3,
            "Pedagang Kecil": 4,
            "PNS/TNI/Polri": 5,
            "Petani": 6,
            "Tenaga Kerja Indonesia": 10,
            "Tidak bekerja": 12,
            "Sudah Meninggal": 13,
            "Lainnya": 14,
            "Tidak dapat diterapkan": 15,
}

In [ ]:
df2['PekerjaanIbu']=df2['PekerjaanIbu'].map(dataMapping8)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,6,1,3,12,14,"Kurang dari Rp. 500,000",81.000000,70.000000,70.000000,75.0
1,0,0,1,0,2,1,6,5,"Rp. 2,000,000 - Rp. 4,999,999",91.500000,91.500000,66.500000,81.0
2,0,0,1,0,2,1,6,5,"Rp. 2,000,000 - Rp. 4,999,999",81.500000,82.000000,71.000000,78.0
3,0,0,1,6,1,1,6,14,Tidak Berpenghasilan,89.333333,94.333333,74.333333,81.0
4,0,0,1,6,1,1,6,14,Tidak Berpenghasilan,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,1,2,2,1,5,"Rp. 2,000,000 - Rp. 4,999,999",95.000000,76.666667,47.333333,65.0
1244,1,2,4,1,2,2,1,5,"Rp. 2,000,000 - Rp. 4,999,999",76.500000,72.500000,44.000000,65.0
1245,1,2,4,1,2,2,1,5,"Rp. 2,000,000 - Rp. 4,999,999",100.000000,75.000000,73.000000,70.0
1246,1,0,8,3,14,3,6,12,Tidak Berpenghasilan,88.500000,88.000000,50.000000,65.0
1247,1,0,1,1,2,2,3,12,Tidak Berpenghasilan,81.500000,85.000000,63.000000,66.0

In [ ]:
dataMapping9={
            "Lebih dari Rp. 20,000,000": 0,
            "Rp. 5,000,000 - Rp. 20,000,000": 1,
            "Rp. 2,000,000 - Rp. 4,999,999": 2,
            "Rp. 1,000,000 - Rp. 1,999,999": 3,
            "Rp. 500,000 - Rp. 999,999": 4,
            "Kurang dari Rp. 500,000": 5,
            "Tidak Berpenghasilan": 6,
}

In [ ]:
df2['PenghasilanIbu']=df2['PenghasilanIbu'].map(dataMapping9)
df2

,JenisKelamin,JenisTinggal,AlatTransportasi,JenjangPendidikanAyah,PekerjaanAyah,PenghasilanAyah,JenjangPendidikanIbu,PekerjaanIbu,PenghasilanIbu,NilaiTugas,NilaiUlangan,NilaiUTS,NilaiRapor
0,1,0,1,6,1,3,12,14,5,81.000000,70.000000,70.000000,75.0
1,0,0,1,0,2,1,6,5,2,91.500000,91.500000,66.500000,81.0
2,0,0,1,0,2,1,6,5,2,81.500000,82.000000,71.000000,78.0
3,0,0,1,6,1,1,6,14,6,89.333333,94.333333,74.333333,81.0
4,0,0,1,6,1,1,6,14,6,74.000000,75.500000,72.000000,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,1,2,4,1,2,2,1,5,2,95.000000,76.666667,47.333333,65.0
1244,1,2,4,1,2,2,1,5,2,76.500000,72.500000,44.000000,65.0
1245,1,2,4,1,2,2,1,5,2,100.000000,75.000000,73.000000,70.0
1246,1,0,8,3,14,3,6,12,6,88.500000,88.000000,50.000000,65.0
1247,1,0,1,1,2,2,3,12,6,81.500000,85.000000,63.000000,66.0

In [ ]:
df2.to_excel('Data Bersih7.xlsx')